@page

@model StoreApp.Pages.CartModel
@{
}
<div class="container" style="padding-top:150px;padding-bottom:150px;">
    <div class="row w-100 justify-content-between">
        <div class="col-md-12">
            <div class="shopping-cart" style="border:1px solid #e6e6e6;">
                <table style="margin-bottom:0;">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Actions</th> 
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var line in Model.Cart?.Lines ?? Enumerable.Empty<CartLine>())
                        {
                            <tr>
                                <td class="d-flex align-items-center gap-2">
                                    <div class="prd-img">
                                        <img src="@line.Product.MainImageUrl" width="100px" />
                                    </div>
                                    @line.Product.ProductName
                                </td>
                                <td>@line.Product.Price.ToString("c")</td>
                                <td>@line.Quantity</td>
                                <td>
                                    <form action="/Cart?handler=Remove" method="post">
                                        <input type="hidden" name="id" value="@line.Product.Id" />
                                        <input type="hidden" name="returnUrl" value="/Cart" />
                                        <button type="submit" class="btn btn-sm btn-danger">
                                            <i class="fa fa-trash"></i>
                                            Remove
                                        </button>
                                        @Html.AntiForgeryToken()
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="3">Total</th>
                            <td>
                                @{
                                    var itemTotal = Model.Cart.ComputeTotalWithoutDescount();
                                    decimal discountedTotal;
                                    if (Model.Cart.Discount == 0)
                                    {
                                        discountedTotal = 0;
                                    }
                                    else
                                    {
                                        discountedTotal = Model.Cart.DiscountedTotalPrice;
                                    }

                                    if (discountedTotal != 0 && discountedTotal != null)
                                    {
                                        <span style="text-decoration: line-through;color:red">@itemTotal.ToString("c2")</span>
                                        <br />
                                        @discountedTotal.ToString("c2")
                                    }
                                    else
                                    {
                                        @itemTotal.ToString("c2")
                                    }
                                }
                            </td>
                        </tr>
                    </tfoot>
                </table>

                <div class="coupon-area d-flex">
                    <form method="post">
                        <div class="apply-coupon d-flex">
                            <input type="text" name="couponCode" placeholder="Coupon Code" asp-for="CouponCode"/>
                            @{
                                var total = Model.Cart.ComputeTotalValue();
                            }
                            <input type="hidden" name="cartTotal" value="@total" />
                            <button type="submit" asp-page-handler="ApplyCoupon">APPLY COUPON</button>
                            @Html.AntiForgeryToken()
                        </div>
                        <div class="coupon-message">
                            <span style="color:red">@TempData["CouponMessage"]</span>
                            <span style="color:green">@TempData["CouponMessageSuccess"]</span>
                        </div>
                    </form>
                    <a asp-action="Index" asp-controller="Home">Home</a>
                    <a asp-action="Index" asp-controller="Checkout" asp-route-couponCode="@Model.CouponCode">
                        Proceed to Checkout
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
</div>












@* <div>
    <div class="text-center display-6">
        Cart
    </div>
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.Cart?.Lines ?? Enumerable.Empty<CartLine>())
            {
                <tr>
                    <td>@line.Product.ProductName</td>
                    <td>@line.Quantity</td>
                    <td>@line.Product.Price.ToString("c")</td>
                    <td>@((line.Product.Price * line.Quantity).ToString("c2"))</td>
                    <td>
                        <form action="/Cart?handler=Remove" method="post">
                            <input type="hidden" name="id" value="@line.Product.Id" />
                            <input type="hidden" name="returnUrl" value="/Cart" />
                            <button type="submit" class="btn btn-sm btn-danger">
                                <i class="fa fa-trash"></i>
                                Remove
                            </button>
                            @Html.AntiForgeryToken()
                        </form>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total: </td>
                <td class="text-right text-danger">
                    @Model.Cart?.ComputeTotalValue().ToString("C2")
                </td>
            </tr>
        </tfoot>
    </table>
    <div class="text-center my-3">
        <div class="btn btn-group">
            <a class="btn btn-primary" href="@Model?.ReturnUrl">Continue to Shopping </a>
            <a class="btn btn-primary mx-2" asp-action="Checkout" asp-controller="Order">Checkout</a>
        </div>
    </div>
</div>
 *@