@model IEnumerable<CouponCode>

<div class="text-center my-5 border-bottom">
    <div class="display-6">Coupon Codes</div>
</div>

<div class="text-center">
    <div class="d-flex justify-content-end my-3">
        <a class="btn btn-outline-success" asp-action="Create">
            <i class="fa fa-plus"></i>
            Create
        </a>
    </div>
</div>
<div class="row w-100">
    <div class="col-md-12">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Coupon Code</th>
                    <th>Discount Rate (%)</th>
                    <th>Is Active</th>
                </tr>
            </thead>
            <tbody>
                @foreach (CouponCode couponCode in Model)
                {
                    <tr>
                        <td>@couponCode.CouponCodeId</td>
                        <td>@couponCode.CouponCodeName</td>
                        <td>@couponCode.CouponCodeDiscount</td>
                        <td>@couponCode.IsActive</td>
                        <td>
                            <div class="btn-group">
                                <a data-toggle="tooltip" data-placement="top" title="Edit" class="btn btn-warning"
                                   asp-action="Update" asp-route-id="@couponCode.CouponCodeId">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a data-toggle="tooltip" data-placement="top" title="Delete" class="btn btn-danger"
                                   asp-action="Delete" asp-route-id="@couponCode.CouponCodeId">
                                    <i class="fa fa-trash"></i>
                                </a>
                                @if (couponCode.IsActive)
                                {
                                    <a data-toggle="tooltip" data-placement="top" title="Disactivate" class="btn btn-success"
                                       asp-action="Activate" asp-route-id="@couponCode.CouponCodeId">
                                        <i class="fa-solid fa-power-off"></i>
                                    </a>
                                }
                                else
                                {
                                    <a data-toggle="tooltip" data-placement="top" title="Activate" class="btn btn-success"
                                       asp-action="Activate" asp-route-id="@couponCode.CouponCodeId">
                                        <i class="fa-solid fa-power-off"></i>
                                    </a>
                                }
                                
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>